/* Argent */
@font-face {
  font-family: "Argent";
  src: url("../public/fonts/ArgentCFSuper.woff2") format("woff2"),
    url("../public/fonts/ArgentCFSuper.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "Argent";
  src: url("../public/fonts/ArgentCFExtraBold.woff2") format("woff2"),
    url("../public/fonts/ArgentCFExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "Argent";
  src: url("../public/fonts/ArgentCFExtraBoldItalic.woff2") format("woff2"),
    url("../public/fonts/ArgentCFExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Argent";
  src: url("../public/fonts/ArgentCFBold.woff2") format("woff2"),
    url("../public/fonts/ArgentCFBold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Argent";
  src: url("../public/fonts/ArgentCFBoldItalic.woff2") format("woff2"),
    url("../public/fonts/ArgentCFBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Argent";
  src: url("../public/fonts/ArgentCFDemiBold.woff2") format("woff2"),
    url("../public/fonts/ArgentCFDemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Argent";
  src: url("../public/fonts/ArgentCFDemiBoldItalic.woff2") format("woff2"),
    url("../public/fonts/ArgentCFDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Argent";
  src: url("../public/fonts/ArgentCFRegular.woff2") format("woff2"),
    url("../public/fonts/ArgentCFRegular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Argent";
  src: url("../public/fonts/ArgentCFRegularItalic.woff2") format("woff2"),
    url("../public/fonts/ArgentCFRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Argent";
  src: url("../public/fonts/ArgentCFLight.woff2") format("woff2"),
    url("../public/fonts/ArgentCFLight.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Argent";
  src: url("../public/fonts/ArgentCFLightItalic.woff2") format("woff2"),
    url("../public/fonts/ArgentCFLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Argent";
  src: url("../public/fonts/ArgentCFThin.woff2") format("woff2"),
    url("../public/fonts/ArgentCFThin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Argent";
  src: url("../public/fonts/ArgentCFThinItalic.woff2") format("woff2"),
    url("../public/fonts/ArgentCFThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

/* Brandon */
@font-face {
  font-family: "Brandon";
  src: url("../public/fonts/BrandonTextWebBlack.woff2") format("woff2"),
    url("../public/fonts/BrandonTextWebBlack.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "Brandon";
  src: url("../public/fonts/BrandonTextWebBlackItalic.woff2") format("woff2"),
    url("../public/fonts/BrandonTextWebBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Brandon";
  src: url("../public/fonts/BrandonTextWebBold.woff2") format("woff2"),
    url("../public/fonts/BrandonTextWebBold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Brandon";
  src: url("../public/fonts/BrandonTextWebBoldItalic.woff2") format("woff2"),
    url("../public/fonts/BrandonTextWebBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Brandon";
  src: url("../public/fonts/BrandonTextWebMedium.woff2") format("woff2"),
    url("../public/fonts/BrandonTextWebMedium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Brandon";
  src: url("../public/fonts/BrandonTextWebMediumItalic.woff2") format("woff2"),
    url("../public/fonts/BrandonTextWebMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Brandon";
  src: url("../public/fonts/BrandonTextWebRegular.woff2") format("woff2"),
    url("../public/fonts/BrandonTextWebRegular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Brandon";
  src: url("../public/fonts/BrandonTextWebRegularItalic.woff2") format("woff2"),
    url("../public/fonts/BrandonTextWebRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Brandon";
  src: url("../public/fonts/BrandonTextWebLight.woff2") format("woff2"),
    url("../public/fonts/BrandonTextWebLight.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Brandon";
  src: url("../public/fonts/BrandonTextWebLightItalic.woff2") format("woff2"),
    url("../public/fonts/BrandonTextWebLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Brandon";
  src: url("../public/fonts/BrandonTextWebThin.woff2") format("woff2"),
    url("../public/fonts/BrandonTextWebThin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Brandon";
  src: url("../public/fonts/BrandonTextWebThinItalic.woff2") format("woff2"),
    url("../public/fonts/BrandonTextWebThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
